button {
font-family: inherit;
font-size: inherit;
}
@font-face {
font-family: Torus;
font-weight: 400;
src: url(Torus.otf);
}
body, html {
margin: 0;
font-family: Torus, Tahoma;
height: 100%;
}
.form {
flex: 1 0 auto;
display: flex;
}
.form, .form__button {
justify-content: center;
align-items: center;
color: #fff;
border: none;
text-shadow: 0 1px 3px rgba(0, 0, 0, .75);
padding: 10px 20px;
border-radius: 100px;
}
.form__button {
outline: none;
background-color: #3399cc;
}
.form__button:hover {
background-color: #47B4EB;
cursor: pointer;
}
.form__button:disabled {
background-color: #CCCCCC;
cursor: default;
}
.form__dialog {
background-color: #382E32;
width: 500px;
display: flex;
flex-direction: column;
}
.form__header--overlay {
position: absolute;
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, .75);
}
.form__row {
display: flex;
margin: 5px 30px;
}
.form__row--buttons {
display: flex;
margin: 5px 30px;
margin-top: 25px;
margin-bottom: 25px;
justify-content: center;
}
.form__row--header {
display: flex;
margin: 5px 30px;
justify-content: center;
align-items: center;
margin-left: 0;
margin-right: 0;
margin-top: 0;
background-size: cover;
background-position: 50%;
height: 200px;
position: relative;
background-image: url('header.jpg');
}
.form__user--header {
font-size: 30px;
position: relative;
}
.layout {
display: flex;
background-color: #1c1819;
}